@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
font famyli: 'Poppins', sans-serif;
1rem: 16px
*/

/*general*/

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    color: #a9005b;
    margin-bottom: 20px;
    line-height: 1.3;
}

h2 {
    font-size: 1.25rem;
    color: black;
}

h3 {
    font-size: 1rem;
    color: white;
}

p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 30px;
    max-width: 450px;
}

.primary-button {
    background-color: #a9005b;
    color: #ffe600;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.secondary-button {
    background-color: #ffe600;
    color: #47002b;
    padding: 12px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 20px;
    transition: background-color 0.3s;
}

/* Header */

header img {
    height: 50px;
}

header {
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 0;
    background-color: #ffffff;
    font-size: 14px;
}

li {
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;
}
nav a {
    text-decoration: none;
    color: #222;
    font-size: 16px;
}

/* Footer */
footer {
    display: block;
    width: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: 0;
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 0;
    background-color: #47002b;
    font-size: 14px;
    color: #fff;
}

.img-buttons img {
    height: 30px;
    width: 30px;
    margin-bottom: 1rem;
}

.copyright {
    margin-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    font-size: 12px;
}

footer h3 {
    margin-bottom: 1.5rem;
    text-align: left;
}


/* Home */
.text-content {
    padding-left: 5rem;
}

/*sobre mi*/

.hero-banner-1 {
    background-color: #FFEFF7;
    height: 700px;
    padding-left: 5rem;
}

.hero-banner-1 article {
    width: 50%;
}

.hero-banner-1 div img {
    width: 50%;
}

.servicios-card {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.servicios-card article {
    width: 25%;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    background-color: #B3095B;
    
}

.servicios-card article img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.servicios-card p {
    margin: 1rem;
    color: white;
}

.tools {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.testimonial {
    height: 350px;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    background-color: #FFF7AF;
}

.testimonial article img { 
    padding: 2rem;
}

.testimonial article p {
    padding: 2rem;
}

/*Portafolio*/

.hero-banner-2 {
    padding-left: 5rem;
}

.hero-banner-2 div img {
    width: 50%;
    border-radius: 1rem;
}
.proyectos-card {
    margin: 5rem;
    height: 350px;
}

.proyectos-card article {
    background-color: #FFF7AF;
    width: 33.3%;
    height: 9.3rem;
    margin: 2rem;

}

.proyectos-card article img {
    width: 100%;
    border-radius: 0.5rem;
}